# Node.js dependencies
node_modules/

# TypeScript build output
*.js
*.js.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# ESLint cache
.eslintcache

# Build output
build/*
